body {
  background-image: url("../img/pig.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#game {
  display:none;
}

#result {
  display: none;
}

#dice {
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("../img/dice.png");
    background-size: cover;
}

#result {
  color: palevioletred;
}

.currentTurn {
  background-color: Palegreen;
}

.jumbotron {
  text-align: center;
  background-color: darkseagreen;
}

.well {
  font-weight: bold;
  font-family: sans-serif;
}

.p1Score, .p2Score {
  color: blue;
}

.p1Running, .p2Running {
  color: Orangered;
}

.p1Total, .p2Total {
  color: darkviolet;
}
